.scoreContainer{
    width: 45vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: black;
}
.messsageElement{
    width: 100%;
    height:7%;
    margin: 5vh auto 0 auto;
    color: white;
    font-size: 1.4em;
    background-color: #ff5e6c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterElement{
    width: 100%;
    height:7%;
    margin: 0 auto 0 auto;
    color: white;
    font-size: 1.4em;
    background-color: #ff5e6c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sunkShips{
    font-size: 1.2em;
    height: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.picture{
    width: 10vh;
    height: calc(var(--vh, 1vh) * 10);
}
.imgContainer{
color: white;
width: 10vw;
height: calc(var(--vh, 1vh) * 10);
align-items: center;
display: flex;
padding: 10%;
justify-content: center;
margin: 3vh 5vw 0 6vw;
}

@media (max-width: 1023px) and (orientation: portrait) {
    .scoreContainer{
        width: 100vw;
        height: calc(var(--vh, 1vh) * 50);
        background-color: black;
        }
        .messsageElement{
            width: 100vw;
            height: calc(var(--vh, 1vh) * 5);
            margin: 0 auto 0 auto;
            color: white;
            font-size: 1em;
            background-color: #ff5e6c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .counterElement{
            width: 100vw;
            height: calc(var(--vh, 1vh) * 5);
            margin: 0 auto 0 auto;
            color: white;
            font-size: 1em;
            background-color: #ff5e6c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sunkShips{
            font-size: 1em;
            height: calc(var(--vh, 1vh) * 40);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .picture{
            width: 10vh;
            height: calc(var(--vh, 1vh) * 10);
        }
        .imgContainer{
            width: 5vh;
            height: calc(var(--vh, 1vh) * 5);
        color: white;
        align-items: center;
        display: flex;
        padding: 10%;
        justify-content: center;
        }
}
@media (max-height: 500px) and (orientation: landscape) {
    .scoreContainer{
        width: 45vw;
        height: calc(var(--vh, 1vh) * 90);
        background-color: black;
    }
    .messsageElement{
        width: 40vw;
        height: calc(var(--vh, 1vh) * 10);
        margin: 0 auto 0 auto;
        color: white;
        font-size: 1em;
        background-color: #ff5e6c;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .counterElement{
        height: calc(var(--vh, 1vh) * 10);
        width: 40vw;
        margin: 0 auto 0 auto;
        color: white;
        font-size: 1em;
        background-color: #ff5e6c;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sunkShips{
        font-size: 1em;
        height: calc(var(--vh, 1vh) * 70);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .picture{
            width: 10vh;
            height: calc(var(--vh, 1vh) * 10);
    }
    .imgContainer{
    color: white;
    width: 10vw;
    height: calc(var(--vh, 1vh) * 10);
    align-items: center;
    display: flex;
    padding: 10%;
    justify-content: center;
    margin: calc(var(--vh, 1vh) * 3) 5vw 0 6vw;
    }
}



